<h1 class="SpeakersList-title">Speakers</h1>

<input [(ngModel)]="searchValue" class="SpeakersList-search" placeholder="Filter speakers..." type="search"/>

<div class="SpeakersList-listContainer">
  <a *ngFor="let speaker of speakers$ | async | filter:searchValue:filterBy"
     [routerLink]="['/speakers/detail', speaker.login.uuid]"
     class="SpeakersList-item">
    <app-speaker-item [appSpeakerItemData]="speaker"></app-speaker-item>
  </a>
</div>
<button (click)="fetchMore()" *ngIf="showMore" [disabled]="fetching" class="SpeakersList-more" type="button">More
</button>
