@import '../../../styles/theme';

.SpeakersList {
  &-title {
    font-size: $font-size-large-headings;
    color: #4c4c4c;
    padding: 20px 0;
  }

  &-search {
    font-size: $font-size-sub-headings;
    border: 1px solid white;
    max-width: 100%;

    &:focus {
      outline: none;
    }
  }

  &-listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
    padding: 20px 0;
  }

  &-item {
    flex: 1 0 auto;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    opacitY: .75;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  &-more {
    font-size: $font-size-section-header;
    display: block;
    background-color: #fafafa;
    appearance: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    cursor: pointer;
  }
}
