$font-size-feed-numbers: 12rem;
$font-size-standout: 9rem;
$font-size-extra-large-headings: 8rem;
$font-size-large: 3.6rem;
$font-size-large-headings: 2.4rem;
$font-size-sub-headings: 2rem;
$font-size-section-header: 1.6rem;
$font-size-regular: 1.3rem;
