<div class="SpeakerItem-itemDescription">
  <img [src]="appSpeakerItemData.picture.thumbnail" class="SpeakerItem-image"/>
</div>
<div class="SpeakerItem-itemDescription">
<span class="SpeakerItem-itemLabel">
  Name
</span>
  <span class="SpeakerItem-itemValue">
    {{appSpeakerItemData.name.first}} {{appSpeakerItemData.name.last}}
  </span>
</div>
<div class="SpeakerItem-itemDescription">
  <span class="SpeakerItem-itemLabel">
    Email
  </span>
  <span class="SpeakerItem-itemValue">
    {{appSpeakerItemData.email}}
  </span>
</div>
<div class="SpeakerItem-itemDescription">
  <span class="SpeakerItem-itemLabel">
    Phone
  </span>
  <span class="SpeakerItem-itemValue">
    {{appSpeakerItemData.phone}}
  </span>
</div>
